{% include 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<body>

    <style>
        body{
            background-color: gray;
        }
    </style>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h3>Login to your account</h3>
        <hr>
        
        <br>
        <form method="POST" autocomplete="off" >
            {% csrf_token %}
            {{form.username|as_crispy_field}}
            <br>

            
            {{form.password|as_crispy_field}}
            

            <br>
            <br>
            <button type="submit" class="btn btn-primary btn-lg w-100 btn-block p-2"> <i class="fa fa-sign-in" aria-hidden="true"></i> &nbsp; Login</button>
        </form>
        <br>
        <div class="text-center">
        <a href="{% url 'register'%}"> Dont have an account? </a>
        <br>
        <a href="#"> Forgotten password? </a>
        </div>
    </div>
</body>
<br>
    
{% endblock content %}