{% include 'store/base.html' %}
{% load static %}


{% block content %}

<body>

    <style>
        body{
            background-color: gray;
        }
    </style>

    <br>
    <br>

 
 <div class="container bg-white shahow-md form-layout p-5">

    <div class="text-center">

        <i class="fa fa-check-circle fa-3x text-success" aria-hidden="true"></i>
        <br>
        <br>
    
<h5> <strong>Your Account is now active. </strong></h5>
<hr>
<p>please proceed to login</p>

</div>

</div>

</body>


{% endblock content %}

